{% load staticfiles %}
{% include 'base.html' %}
<br><br>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>
<ul>
  <li><a class="active" href="#">Home</a></li>
  <!-- <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li> -->
  <li><a href="#">Sign Up</a></li>
  <li><a href="">Login</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Product</a>
    <div class="dropdown-content">
     <a href="{% url 'addproduct' %}">Add Product</a>
    </div>
  </li>
<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Sales</a>
    <div class="dropdown-content">
      <a href="#">Daily</a>
      <a href="#">WEEKLY</a>
      <a href="#">MONTHLY</a>
      <a href="#">YEARLY</a>
    </div>
  </li>
</ul>

 {% if message %}
<h1 align="left" style="color: cornflowerblue">{{ message }}</h1>
{% endif %}


</body>
</html>